.total-div{
    font-family: cursive;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    margin-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.3); 
    box-shadow: 10px 10px 10px #FFE15D; 
}

.cd-div{
    color: wheat;

}

.p-loading{
    font-size: 20px;
    color: white;
    height: 600px;
    padding-top: 45px;
    margin: auto; 
    margin-top: 25px;    
}

.img-card{
    width: 200px;
    height: 200px;
}