.cc-div{
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    height: 400px;
    width: 200px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.cc-div:hover{
    outline: 2px solid wheat;
}

.activeCard{
    text-decoration: none;
}

.cc-img{
    width: 200px;
    height: 200px;
}

.cc-color{
    color: wheat;
}

.bt-delete{
    position: absolute;
    top: 0px;
    right: 0px;
}