.Cards-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.div-carga{
    font-size: 20px;
    color: white;
    height: 600px;
    padding-top: 45px;
    margin: auto;
}