.bt-paginated{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    cursor: pointer;
    background-color: black;
    color: wheat;
    border-radius: 7px;
    outline: 2px solid wheat;
    margin: 10px;
}

button:focus{
    background-color: wheat;
    color: black;
}